In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [4]:
df = pd.read_csv("dataset/dataset/Reg-log_offre.csv")

In [5]:
df.head

<bound method NDFrame.head of     Age  Gender  Offer
0    38  Female      0
1    32  Female      0
2    46    Male      1
3    34    Male      0
4    40    Male      0
..  ...     ...    ...
95   31    Male      0
96   49    Male      1
97   36    Male      0
98   32  Female      0
99   34  Female      0

[100 rows x 3 columns]>

In [7]:
df['Gender']=df['Gender'].replace({'Female' : 0, 'Male' : 1})

In [8]:
df

    Age  Gender  Offer
0    38       0      0
1    32       0      0
2    46       1      1
3    34       1      0
4    40       1      0
..  ...     ...    ...
95   31       1      0
96   49       1      1
97   36       1      0
98   32       0      0
99   34       0      0

[100 rows x 3 columns]

In [26]:
X=df.iloc[:, :-1].values
print(X)
Y=df.iloc[:, -1].values
print(Y)
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

[[38  0]
 [32  0]
 [46  1]
 [34  1]
 [40  1]
 [37  0]
 [43  1]
 [38  1]
 [27  1]
 [42  0]
 [49  0]
 [48  1]
 [45  1]
 [27  1]
 [50  1]
 [40  0]
 [41  0]
 [40  0]
 [39  0]
 [33  1]
 [31  0]
 [36  0]
 [29  1]
 [47  0]
 [27  0]
 [28  0]
 [50  0]
 [48  0]
 [47  1]
 [44  1]
 [33  0]
 [30  0]
 [38  0]
 [30  1]
 [36  0]
 [39  0]
 [41  0]
 [35  0]
 [42  1]
 [50  0]
 [27  0]
 [39  1]
 [28  1]
 [46  0]
 [30  0]
 [33  1]
 [45  0]
 [38  1]
 [29  0]
 [26  0]
 [34  0]
 [26  1]
 [31  1]
 [50  1]
 [32  1]
 [36  1]
 [47  0]
 [35  1]
 [31  0]
 [37  1]
 [35  0]
 [44  1]
 [48  1]
 [29  0]
 [39  1]
 [45  1]
 [37  0]
 [28  1]
 [35  1]
 [47  1]
 [41  1]
 [28  0]
 [42  0]
 [29  1]
 [26  0]
 [30  1]
 [32  1]
 [44  0]
 [43  1]
 [42  1]
 [46  1]
 [44  0]
 [43  0]
 [49  1]
 [37  1]
 [49  0]
 [45  0]
 [41  1]
 [40  1]
 [33  0]
 [43  0]
 [26  1]
 [46  0]
 [48  0]
 [34  1]
 [31  1]
 [49  1]
 [36  1]
 [32  0]
 [34  0]]
[0 0 1 0 0 0 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 1 1 0 0 0 0 0 0 0
 0 1 1 0 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 1 0 0 1 0 0 0 1 1 0 0 0
 0 0 0 1 1 1 1 1 0 1 0 1 1 1 1 0 1 0 1 1 1 0 1 0 0 0]

In [15]:
model=LogisticRegression()

In [16]:
model.fit(X_train,Y_train)

LogisticRegression()

In [18]:
y_pred=model.predict(X_test)

In [19]:
comp=pd.DataFrame(y_pred, Y_test)
comp

   0
1  1
1  1
1  1
0  0
0  0
1  1
0  0
1  1
1  1
0  0
0  0
0  0
0  0
0  0
1  1
0  1
0  0
1  1
1  1
0  0

In [23]:
print("Précision du modèle:", accuracy_score(Y_test, y_pred))

Précision du modèle: 0.95

In [30]:
print(confusion_matrix(Y_test,y_pred))

[[10  1]
 [ 0  9]]